$active-background-color: rgb(120, 110, 100);
$hover-background-color: rgb(140, 130, 120);
$primary-background-color: rgb(160, 150, 140);

$active-text-color: rgb(216, 216, 216);
$primary-text-color: rgb(60, 75, 90);

@mixin border-radius($radius) {
  border-radius: $radius;
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
}

ul.LayerElement {
  position: absolute;
  animation: fade-in 1.5s ease-out forwards;
  margin: 0;
  padding: 0;
  list-style-type: none;
  left: 14px;
  top: 100px;

  li {
    &:first-child div {
      @include border-radius(4px 4px 0 0);
    }

    &:last-child div {
      @include border-radius(0 0 4px 4px);
      border-bottom-width: 1px;
    }

    div {
      cursor: pointer;
      padding: 7px 0 6px 40px;
      background: $primary-background-color;
      border: 1px solid rgb(187, 187, 187);
      border-bottom-width: 0;
      color: $primary-text-color;
      font-size: 0.95em;
      line-height: 1.1;
      width: 130px;

      &:hover {
        background: $hover-background-color;
      }
    }

    div.active {
      background: $active-background-color;
      color: $active-text-color;
    }
  }
}

div.layerIcon {
  img.biosphere {
    position: absolute;
    animation: slide-in 1.0s ease-out forwards;
    cursor: pointer;
    left: 11px;
    top: 8px;
  }

  img.office {
    position: absolute;
    animation: slide-in 1.0s ease-out forwards;
    cursor: pointer;
    left: 10px;
    top: 36px;
  }

  img.places {
    position: absolute;
    animation: slide-in 1.0s ease-out forwards;
    cursor: pointer;
    left: 10px;
    top: 66px;
  }

  img.trails {
    position: absolute;
    animation: slide-in 1.0s ease-out forwards;
    cursor: pointer;
    left: 10px;
    top: 96px;
  }

  img.hexagon {
    position: absolute;
    animation: slide-in 1.0s ease-out forwards;
    cursor: pointer;
    left: 10px;
    top: 126px;
  }

  img.charts {
    position: absolute;
    animation: slide-in 1.0s ease-out forwards;
    position: absolute;
    left: 10px;
    top: 156px;
  }

  img.logout {
    position: absolute;
    animation: slide-in 1.0s ease-out forwards;
    cursor: pointer;
    left: 10px;
    top: 187px;
  }
}

@keyframes fade-in {
	from {
    opacity: 0
	}
	to {
    opacity: 1
	}
}

@keyframes slide-in {
	from {
		transform: translateX(-50px)
	}
	to {
		transform: translateX(0px)
	}
}
