div.Header {
  position: absolute;
  background-color: rgb(140, 130, 120);
  border: 2px solid rgb(120, 110, 100);
  height: 70px;
  text-align: center;
  top: 12px;

    button {
      position: absolute;
      padding: 4px 0;
      border: 2px solid rgb(187, 187, 187);
      color: rgb(60, 75, 90);
      cursor: pointer;
      font-size: 0.9em;
      top: 30px;
    }

    button.eventsDaily {
      left: 50px;
      width: 135px;
    }

    button.eventsHourly {
      left: 195px;
      width: 135px;
    }

    button.statsDaily {
      right: 210px;
      width: 150px;
    }

    button.statsHourly {
      right: 50px;
      width: 150px;
    }

    img {
      position: absolute;
      height: 20px;
      left: 6px;
      top: 5px;
      width: 20px;
    }

    input {
      margin: 8px 0 0 -30px;
      padding: 0 0 0 3px;
      font-size: 0.9em;
      width: 150px;
    }

    p.count {
      margin: 2px 0 0 -30px;
      font-size: 0.9em;
      font-weight: bold;
    }

    p.title {
      margin: 5px 0 0 -30px;;
      font-size: 1.1em;
      font-weight: bold;
    }
}
