div.SplashScreen {
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  z-index: 2;
  top: 45px;
  bottom: 0px;
  width: 100%;
}

div.SplashScreen.active {
  display: block;
}

div.SplashScreen.inactive {
  display: none;
}
