@mixin border-radius($radius) {
  border-radius: $radius;
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
}

div.Hexagon {
  position: absolute;
  padding: 0 15px;
  animation: slide-in 1.5s ease-out forwards;
  cursor: pointer;
  @include border-radius(4px);
  background: rgb(160, 150, 140);
  border: 3px solid rgb(187, 187, 187);
  color: rgb(60, 75, 90);
  font-size: 0.95em;
  line-height: 1.4;
  right: 10px;
  top: 10px;
  width: 172px;

  button {
    cursor: pointer;
    padding: 2px 0;
    border: 2px solid rgb(187, 187, 187);
    color: rgb(60, 75, 90);
    font-size: 0.9em;
    line-height: 1.4;
    width: 100%;
  }

  div input {
    cursor: pointer;
    width: 100%;
  }

  div label {
    cursor: pointer;
  }

  div span {
    cursor: pointer;
    color: rgb(255, 255, 255);
  }

  div.spacer {
    height: 0.5em;
  }

  p.header {
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 2px;
  }
}

@keyframes slide-in {
	from {
		transform: translateX(150px)
	}
	to {
		transform: translateX(0px)
	}
}
