select.trails {
  position: absolute;
  animation: slide-in 1.0s ease-out forwards;
  border-style: solid;
  font-size: 0.9em;
  left: 14px;
  top: 325px;
  width: 130px;
}

@keyframes slide-in {
	from {
		transform: translateX(-150px)
	}
	to {
		transform: translateX(0px)
	}
}
