.DataCharts {
  position: absolute;
  animation: fade-in 1.5s ease-out forwards;
  top: 45px;
  bottom: 0px;
  width: 100%;
}

@keyframes fade-in {
	from {
    opacity: 0
	}
	to {
    opacity: 1
	}
}
