@import url('https://fonts.googleapis.com/css?family=Orbitron:800');
@import url('https://fonts.googleapis.com/css?family=Roboto:400');

@import url('https://js.arcgis.com/4.14/esri/css/main.css');
@import url('https://api.mapbox.com/mapbox-gl-js/v1.9.0/mapbox-gl.css');

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, input,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 1em;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style-type: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* custom global styles */
body {
	background: rgb(0,0,0);
	font-family: 'Roboto', sans-serif;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

div.office-marker {
	background-image: url('assets/office.png');
	height: 25px;
	width: 22px;
}

div.places-marker {
	background-image: url('assets/places.png');
	height: 25px;
	width: 22px;
}

div.trails-marker {
	background-image: url('assets/trails.png');
	height: 25px;
	width: 22px;
}

/* custom ArcGIS style modifications */
div.esri-popup__main-container.esri-widget {
  width: 300px;
}

div.esri-popup__button,
div.esri-popup__footer {
  display: none;
}

header.esri-popup__header {
  font-weight: bold;
}
